.vs/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Unity cache & generated
MemoryCaptures/

# Ignore huge map assets
Assets/All Assets/Maps/

# Ignore big model & texture files
*.fbx
*.zip
*.psd
*.tga
*.tif
*.jpg
*.png

# Keep meta files
!*.meta
